ZoomPedalFun-main/ 
zoom-fx-modding-ref/
Zoom-Firmware-Editor-master/
zdl_candidates/
airwindows-ref/
zdownload-master/
zoom-fx-modding-main
.DS_Store
__pycache__/
pycache_/
*.pyc
*.asd
src/airwindows/*/*.obj
src/airwindows/*/*_params.h
!src/airwindows/common/zoom_params.h
src/custom/*/*.obj
src/custom/*/*_params.h
src/hardware_probes/*/*.obj
src/hardware_probes/*/*_params.h
*.wav
tools/measure/out/
build/probes/
*.id0
*.id1
*.id2
*.nam
*.til
